<nz-card [nzActions]="authService.currentUser ?
(authService.currentUser.id == ad.owner || authService.currentUser.isAdmin ?
[actionAsk, actionEdit, actionDelete] : [actionAsk]) : []">
  <nz-card-tab>
    <nz-tabset>
      <nz-tab nzTitle="Описание">
        <h3>{{ad.title}}</h3>
        <p>{{ad.description}}</p>
        <h3>Цена: {{ad.price}} лв.</h3>
        <div *ngIf="owner && owner.name">
        <p>Потребител: {{owner.name}}</p>
        <p *ngIf="authService.currentUser">Телефон: {{owner.phone}}</p>
        </div>
      </nz-tab>

      <nz-tab nzTitle="Въпроси">
        <div *ngIf="questions">
          <app-question *ngFor="let question of questions" [question]="question"></app-question>
        </div>
        <div *ngIf="!questions || !questions.length">Няма въпроси.</div>
        <input *ngIf="authService.currentUser" type="text" [formControl]="askInput" nz-input placeholder="Напишете въпрос...">
      </nz-tab>
    </nz-tabset>
  </nz-card-tab>
</nz-card>

<ng-template #actionAsk>
  <i nz-icon nzType="question" (click)="ask()"></i>
</ng-template>
<ng-template #actionEdit>
  <i nz-icon nzType="edit" (click)="edit()"></i>
</ng-template>
<ng-template #actionDelete>
  <i nz-icon nzType="delete" (click)="delete()"></i>
</ng-template>
