<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Малки обяви.БГ</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Табло" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Добре дошли</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/ads">Обяви</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/users">Потребители</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Опции" nzIcon="form">
        <ul>
          <ng-template [ngIf]="fireauth.user | async">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/ads/create">
              <i nz-icon nzType="plus-circle" nzTheme="fill"></i>
              Добавяне на обява
            </a>
          </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/auth/edit">
                <i nz-icon nzType="plus-circle" nzTheme="fill"></i>
                Редактиране на профил
              </a>
            </li>
          <li nz-menu-item nzMatchRouter>
            <a (click)="authService.logout()">
              <i nz-icon nzType="logout" nzTheme="outline"></i>
              Изход
            </a>
          </li>
          </ng-template>
          <ng-template [ngIf]="!(fireauth.user | async)">
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/auth/login">
                <i nz-icon nzType="login" nzTheme="outline"></i>
                Вход
              </a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/auth/register">
                <i nz-icon nzType="plus-circle" nzTheme="fill"></i>
                Регистрация
              </a>
            </li>
          </ng-template>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <b *ngIf="authService.currentUser">Привет, {{authService.currentUser.name}}!</b>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
