<nz-card [nzActions]="[actionShowAds]" class="users-list">
  <nz-card-meta
    nzTitle="{{user.name}}"
    nzDescription="{{user.email}}"
  ></nz-card-meta>

  <nz-card-meta nzTitle="Град: {{user.city}}">
  </nz-card-meta>

  <nz-card-meta nzTitle="Телефон: {{user.phone}}">
  </nz-card-meta>
</nz-card>

  <ng-template #actionShowAds>
    <div routerLink="/ads/{{user.id}}">Покажи обявите на потребителя</div>
  </ng-template>
<ng-template #showPhone>
  <i nz-icon nzType="setting"></i>
</ng-template>
<ng-template #actionEdit>
  <i nz-icon nzType="edit"></i>
</ng-template>
<ng-template #actionDelete>
  <i nz-icon nzType="delete"></i>
</ng-template>
